/**
 * #.# Classic Theme Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.aios-listings-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .loader-spinner {
    margin: calc(18vh - 20px) auto 0;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2s infinite linear;
  
    .dot1 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2s infinite ease-in-out;
    }
  
    .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2s infinite ease-in-out;
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1s;
    }
  }
  
  @-webkit-keyframes sk-rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes sk-rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes sk-bounce {
    0%,
      100% {
      -webkit-transform: scale(0);
    }
  
    50% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes sk-bounce {
    0%,
      100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
  
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
  
  /** Loader **/
  /** Thumbnail Loader Class */
  
  .thumbnail-loader {
    position: relative;
    background: #000;
    display: block;
  
    img, canvas {
      position: relative;
      z-index: 1;
    }
  
    &:before {
      content: "\b0170";
      position: absolute;
      top: calc(50% - 16px);
      left: calc(50% - 16px);
      font-family: agentimage !important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 32px;
      -webkit-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
      color: #6b6a6a;
    }
  
    &.loader-lg:before {
      font-size: 64px;
    }
  }
  
  .page-template-template-classic-properties {
    #inner-page-wrapper .container:not(.container-theme-filter) {
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  
    .container-theme-filter {
      margin-top: 25px;
    }
  }
  
  .ai-classic-properties {
    display: block;
    margin-top: 120px;
  
    a:hover {
      color: #c1b283;
    }
  }
  
  .ai-classic-properties-heading {
    display: block;
    max-width: 1400px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .ai-classic-properties-heading-row {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .ai-classic-properties-heading-ihf {
    margin-top: 50px;
    z-index: 0;
  }
  
  .ai-classic-properties-heading-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .ai-classic-properties-title .entry-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 55px;
    letter-spacing: 0.02em;
    color: #222222;
    text-transform: uppercase;
  
    span {
      color: #c1b283;
    }
  }
  
  .ai-classic-properties-search {}
  
  .ai-classic-properties-search-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .ai-classic-properties-search-col {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .ai-classic-properties-search-buttons {
    padding-right: 0;
  }
  
  .ai-classic-properties-search-row .ai-classic-properties-heading-button {
    padding: 11px 15px;
    margin: 3px 6px 3px 0;
  }
  
  .ai-classic-properties-search-button {
    position: relative;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: solid 1px #c1b283;
    min-width: 79px;
    height: auto;
    padding: 16px 12px 16px 0;
  
    em {
      position: absolute;
      top: 20px;
      right: 0;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #c1b283 transparent transparent transparent;
    }
  }
  
  .ai-classic-properties-search-button-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 8px;
    background-color: #f5f4f4;
    padding: 20px 10px;
    min-width: 180px;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .ai-classic-properties-search-button-content-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  
    &:first-of-type {
      margin-top: 0;
    }
  }
  
  .ai-classic-properties-search-button-content-col {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  
  .ai-classic-properties-search-button-content-col-50 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
  
  .ai-classic-properties-search-button-content {
    label {
      display: none;
    }
  
    input, select {
      background-color: transparent;
      border: 0;
      border-bottom: solid 1px #c1b283;
      width: 100%;
      height: 38px;
      padding: 0;
      color: #4b4b4b;
    }
  
    input[type=submit] {
      background-color: #c1b283;
      border: 0;
      color: #FFFFFF;
      text-transform: uppercase;
      margin-top: 15px;
      transition: background-color 0.3s linear;
  
      &:hover {
        background-color: #222222;
      }
    }
  
    ul {
      list-style: none !important;
      margin-left: 0 !important;
      padding: 0 10px;
  
      li {
        list-style: none !important;
        margin-top: 5px;
  
        &:first-of-type {
          margin-top: 0;
        }
  
        a {}
  
        &.active a {
          color: #c1b283;
        }
      }
    }
  }
  
  .ai-classic-properties-search-refine {
    .ai-classic-properties-search-button {
      min-width: 178px;
    }
  
    .ai-classic-properties-search-button-content {
      min-width: 280px;
    }
  }
  
  .ai-classic-properties-search-sort {}
  
  .ai-classic-properties-search-view {
    display: flex;
  
    span {
      cursor: pointer;
      font-size: 0;
      margin-left: 7px;
  
      &:first-of-type {
        margin-left: 0;
      }
  
      em {
        font-style: normal !important;
        font-size: 18px;
      }
  
      &.active {
        color: #c1b283;
      }
    }
  }
  
  .ai-classic-properties-heading-button {
    display: inline-block;
    background-color: #ededed;
    margin-right: 6px;
    min-width: 178px;
    padding: 15px 30px;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    line-height: 21px;
    transition: background-color 0.3s linear, color 0.3s linear;
  }
  
  .ai-classic-properties-heading-saved-search span {
    margin-right: 6px;
  }
  
  .ai-classic-properties-heading-button.active, .ai-classic-properties-heading-saved-search, .ai-classic-properties-heading-button:hover {
    background-color: #c1b283;
    color: #ffffff !important;
  }
  
  .ai-classic-properties-heading-saved-search:hover {
    background-color: #222222 !important;
  }
  
  .ai-classic-properties-frame-responsive {
    display: block;
    position: relative;
    padding-bottom: 35%;
  
    iframe {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .ai-classic-properties-listings {
    display: block;
    position: relative;
    z-index: 0;
    margin-top: 15px;
    overflow: hidden;
    min-height: 350px;
  
    &[data-view="grid"] {
      .ai-classic-properties-listings-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
      }
  
      .ai-classic-properties-listing {
        width: 50%;
        padding: 15px;
      }
    }
  
    &[data-view="list"] .ai-classic-properties-listing, &[data-view="table"] .ai-classic-properties-listing {
      display: block;
      width: 100%;
      padding: 0 0 8px 8px;
    }
  }
  
  .ai-classic-properties-content {
    position: relative;
    color: #222222;
    transition: color 0.3s linear;
  }
  
  .ai-classic-properties-listings {
    &[data-view="list"] .ai-classic-properties-content, &[data-view="table"] .ai-classic-properties-content {
      display: flex;
    }
  
    &[data-view="grid"] .ai-classic-properties-listing:hover .ai-classic-properties-content {
      color: #FFFFFF;
    }
  
    &[data-view="list"] .ai-classic-properties-content-img, &[data-view="table"] .ai-classic-properties-content-img {
      width: 34.045%;
    }
  
    &[data-view="grid"] .ai-classic-properties-content-img {
      display: block;
      width: 100%;
    }
  }
  
  .ai-classic-properties-content-img canvas {
    display: block;
    width: 100%;
    background-color: #A2A2A2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .ai-classic-properties-listings {
    &[data-view="list"] .ai-classic-properties-content-img canvas, &[data-view="table"] .ai-classic-properties-content-img canvas {
      height: 100%;
    }
  }
  
  .ai-classic-properties-content-grid {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f4f4;
    padding: 35px 3.5vw;
    transition: background-color 0.3s linear;
  }
  
  .ai-classic-properties-listings[data-view="grid"] {
    .ai-classic-properties-content-grid {
      display: flex;
    }
  
    .ai-classic-properties-listing:hover .ai-classic-properties-content-grid {
      background-color: #222222;
    }
  }
  
  .ai-classic-properties-content-grid-price {
    position: relative;
    font-size: 42px;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -40px;
      width: 103px;
      height: 5px;
      background-color: #c1b283;
    }
  }
  
  .ai-classic-properties-content-grid-address div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    line-height: 1.3;
  
    &:last-of-type {
      color: #c1b283;
      font-size: 18px;
    }
  
    span {
      color: #c1b283;
    }
  }
  
  .ai-classic-properties-content-grid-link {
    display: none;
    font-size: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  
  .ai-classic-properties-listings[data-view="grid"] .ai-classic-properties-content-grid-link {
    display: block;
  }
  
  .ai-classic-properties-content-list {
    display: none;
    background-color: #f6f6f6;
    width: 65.955%;
    padding: 45px;
  }
  
  .ai-classic-properties-listings[data-view="list"] .ai-classic-properties-content-list {
    display: block;
  }
  
  .ai-classic-properties-content-list-address {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    line-height: 1.2;
  
    span {
      display: block;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: #c1b283;
    }
  }
  
  .ai-classic-properties-content-list-price {
    margin-top: 18px;
    font-size: 42px;
  }
  
  .ai-classic-properties-content-list-features {
    display: flex;
    margin-top: 27px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  
    div {
      display: flex;
      align-items: center;
      padding-right: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
  
      &:first-of-type {
        padding-left: 0 !important;
      }
  
      span {
        color: #c1b283;
        margin-right: 9px;
      }
    }
  }
  
  .ai-classic-properties-content-list-link {
    margin-top: 27px;
    display: block;
    width: 143px;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 13px;
    color: #FFFFFF !important;
    text-align: center;
    text-transform: uppercase;
    background-color: #c1b283;
    transition: background-color 0.3s linear;
  
    &:hover {
      background-color: #222222;
    }
  }
  
  .ai-classic-properties-content-table {
    display: none;
    width: 65.955%;
  }
  
  .ai-classic-properties-listings[data-view="table"] .ai-classic-properties-content-table {
    display: block;
  }
  
  .ai-classic-properties-content-table-heading {
    display: flex;
    background-color: #f6f6f6;
    padding-right: 50px;
  }
  
  .ai-classic-properties-content-table-body {
    display: flex;
    padding-right: 50px;
  }
  
  div[class*="ai-classic-properties-content-table-data"] {
    font-size: 15px;
    text-transform: uppercase;
    padding: 19px 0 19px 29px;
  }
  
  .ai-classic-properties-content-table-body div[class*="ai-classic-properties-content-table-data"]::before {
    display: none;
  }
  
  .ai-classic-properties-content-table-data-address {
    width: 28.868vw;
  
    &::before {
      content: 'Address';
    }
  }
  
  .ai-classic-properties-content-table-data-price {
    width: 21.887vw;
  
    &::before {
      content: 'Price';
    }
  }
  
  .ai-classic-properties-content-table-data-beds {
    width: 12.17vw;
  
    &::before {
      content: 'Beds';
    }
  }
  
  .ai-classic-properties-content-table-data-baths {
    width: 12.17vw;
  
    &::before {
      content: 'Baths';
    }
  }
  
  .ai-classic-properties-content-table-data-size {
    width: 12.17vw;
  
    &::before {
      content: 'Size';
    }
  }
  
  .ai-classic-properties-pagination {
    margin-top: 50px;
    width: 100%;
  
    .page-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .page-numbers {
      font-size: 15px;
      padding: 0 10px;
      margin: 0 5px;
  
      &.current {
        color: #c1b283;
      }
    }
  
    .prev.page-numbers, .next.page-numbers {
      position: relative;
      font-family: agentimage !important;
      speak: none;
      font-size: 0;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #c1b283;
      padding: 10px;
      color: #FFFFFF;
      transition: background-color 0.3s linear;
    }
  
    .prev.page-numbers::before {
      content: "\b0001";
      font-size: 16px;
    }
  
    .next.page-numbers::before {
      content: "\b0002";
      font-size: 16px;
    }
  
    .prev.page-numbers:hover, .next.page-numbers:hover {
      background-color: #222222;
      color: #FFFFFF;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1400px) {
    .ai-classic-properties-content-grid-address {
      padding-left: 15px;
    }
  
    .ai-classic-properties-content-grid-price {
      font-size: 28px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /**
     * Heading
     */
  
    .ai-classic-properties-idx {
      .ai-classic-properties-heading-row {
        flex-direction: column;
      }
  
      .ai-classic-properties-search {
        margin-top: 20px;
      }
  
      .ai-classic-properties-search-button {
        font-size: 16px;
      }
    }
  
    /**
     * View Grid
     */
  
    .ai-classic-properties-content-grid {
      padding: 35px 20px;
    }
  
    .ai-classic-properties-content-grid-address div {
      font-size: 18px;
  
      &:last-of-type {
        font-size: 16px;
      }
    }
  
    .ai-classic-properties-title .entry-title {
      font-size: max(3.438vw, 30px);
    }
  }
  
  @media only screen and (max-width: 991px) {
    /**
     * Heading
     */
  
    .ai-classic-properties-heading-row {
      flex-direction: column;
    }
  
    .ai-classic-properties-search {
      margin-top: 20px;
    }
  
    .ai-classic-properties-search-button {
      font-size: 16px;
    }
  
    /**
     * View Grid
     */
  
    .ai-classic-properties-listings {
      &[data-view="grid"] .ai-classic-properties-listing {
        width: 100%;
      }
  
      &[data-view="table"] {
        .ai-classic-properties-content {
          flex-direction: column;
        }
  
        .ai-classic-properties-content-img {
          width: 100%;
        }
      }
    }
  
    /**
     * View Table
     */
  
    .ai-classic-properties-content-table {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ai-classic-properties-heading-col {
      width: 100%;
    }
  
    .ai-classic-properties-search-buttons {
      padding-right: 8px;
    }
  
    .ai-classic-properties-heading-button {
      margin-top: 5px;
      margin-right: 0 !important;
      width: 100% !important;
      max-width: initial !important;
  
      &.ai-classic-properties-heading-saved-search {
        margin-top: 20px;
      }
    }
  
    .ai-classic-properties-idx {
      .ai-classic-properties-search-sort {
        width: 74%;
      }
  
      .ai-classic-properties-search-button {
        width: 100%;
      }
    }
  
    /**
     * View Grid
     */
  
    .ai-classic-properties-listings[data-view="grid"] .ai-classic-properties-content-grid {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  
    .ai-classic-properties-content-grid-address {
      width: 100%;
      margin-bottom: 15px;
  
      div {
        justify-content: flex-start;
  
        &:last-of-type {
          padding-left: 26px;
        }
      }
    }
  
    /**
     * View: List
     */
  
    .ai-classic-properties-listings[data-view="list"] {
      .ai-classic-properties-listing {
        padding: 0 4px 8px 4px;
      }
  
      .ai-classic-properties-content {
        flex-direction: column;
      }
  
      .ai-classic-properties-content-img {
        width: 100%;
      }
  
      .ai-classic-properties-content-list {
        width: 100%;
        padding: 20px;
      }
    }
  
    .ai-classic-properties-content-list-features {
      flex-wrap: wrap;
  
      div {
        padding-right: 20px;
      }
    }
  
    .ai-classic-properties-content-table-data-address::before {
      content: 'Address: ';
    }
  
    .ai-classic-properties-content-table-data-price::before {
      content: 'Price: ';
    }
  
    .ai-classic-properties-content-table-data-beds::before {
      content: 'Beds: ';
    }
  
    .ai-classic-properties-content-table-data-baths::before {
      content: 'Baths: ';
    }
  
    .ai-classic-properties-content-table-data-size::before {
      content: 'Size: ';
    }
  }
  
  @media only screen and (max-width: 500px) {
    .ai-classic-properties-content-table-heading {
      display: none;
    }
  
    .ai-classic-properties-search-col {
      position: static;
    }
  
    .ai-classic-properties-search {
      width: 100%;
    }
  
    .ai-classic-properties-search-refine .ai-classic-properties-search-button {
      min-width: 145px;
    }
  
    .ai-classic-properties-search-button-content {
      right: 16px;
      left: 16px;
    }
  
    .ai-classic-properties-listings {
      &[data-view="list"] .ai-classic-properties-listing {
        padding: 0 15px 15px;
      }
  
      &[data-view="table"] {
        .ai-classic-properties-listing {
          padding: 0 15px 15px;
        }
  
        .ai-classic-properties-content-table {
          background-color: #f6f6f6;
        }
      }
    }
  
    .ai-classic-properties-content-grid-price::before {
      bottom: -35px;
    }
  
    .ai-classic-properties-content-table-body {
      display: block;
      padding-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  
      div[class*="ai-classic-properties-content-table-data"]::before {
        display: block;
      }
    }
  
    div[class*="ai-classic-properties-content-table-data"] {
      display: flex;
      width: 100% !important;
      padding: 4px 15px;
  
      span {
        margin-left: 5px;
      }
    }
  
    .ai-classic-properties-pagination .page-numbers {
      padding: 0 5px;
    }
  
    .ai-classic-properties-title .entry-title {
      font-size: max(3.438vw, 26px);
    }
  }