/*******************************************************
 *
 * General
 *
 *******************************************************/

 .listing-module-page {
    #inner-page-wrapper .container:not(.container-theme-filter) {
      width: 100%;
    }
  
    .container-theme-filter {
      margin-top: 25px;
    }
  }
  
  /*pagination */
  
  #listings-results .listings-pagination {
    position: relative;
    margin-top: 81px;
  
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin: 0;
      padding: 0;
  
      li {
        display: block;
        margin: 2px;
        padding: 0;
  
        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          outline: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          color: var(--aios-listing-primary-color);
          text-decoration: none;
          min-width: 32px;
          height: 32px;
          padding: 0 10px;
          border: 1px solid #cecece;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
  
        &.active {
          span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            outline: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: var(--aios-listing-primary-color);
            text-decoration: none;
            min-width: 32px;
            height: 32px;
            padding: 0 10px;
            border: 1px solid #cecece;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
  
          a {
            color: #fff;
            border-color: var(--aios-listing-primary-color);
            background: var(--aios-listing-primary-color);
          }
        }
  
        a {
          &.active, &:hover {
            color: #fff;
            border-color: var(--aios-listing-primary-color);
            background: var(--aios-listing-primary-color);
          }
        }
  
        &.active {
          span {
            color: #fff;
            border-color: var(--aios-listing-primary-color);
            background: var(--aios-listing-primary-color);
          }
  
          margin-top: 4px;
  
          a {
            cursor: not-allowed;
          }
        }
  
        a.active, &.active span {
          cursor: not-allowed;
        }
  
        &.ellipsis a {
          pointer-events: none;
          cursor: text;
        }
      }
    }
  }